[submodule "aws-pyccd"]
	path = .archive/aws-pyccd
	url = https://github.com/davidvhill/aws-pyccd.git
	branch = master
[submodule "clj-gdal"]
	path = .archive/clj-gdal
	url = https://github.com/Element84/clj-gdal.git
	branch = master
[submodule "lcmap-blackmagic"]
	path = .archive/lcmap-blackmagic
	url = https://github.com/USGS-EROS/lcmap-blackmagic.git
	branch = master
[submodule "lcmap-ccdc"]
	path = .archive/lcmap-ccdc
	url = https://github.com/USGS-EROS/lcmap-ccdc.git
	branch = master
[submodule "lcmap-change-detection-c"]
	path = .archive/lcmap-change-detection-c
	url = https://github.com/USGS-EROS/lcmap-change-detection-c.git
	branch = master
[submodule "lcmap-changes"]
	path = .archive/lcmap-changes
	url = https://github.com/USGS-EROS/lcmap-changes.git
	branch = master
[submodule "lcmap-chipmunk"]
	path = .archive/lcmap-chipmunk
	url = https://github.com/USGS-EROS/lcmap-chipmunk.git
	branch = master
[submodule "lcmap-cli"]
	path = .archive/lcmap-cli
	url = https://github.com/USGS-EROS/lcmap-cli.git
	branch = master
[submodule "lcmap-client-clj"]
	path = .archive/lcmap-client-clj
	url = https://github.com/USGS-EROS/lcmap-client-clj.git
	branch = master
[submodule "lcmap-client-docs"]
	path = .archive/lcmap-client-docs
	url = https://github.com/USGS-EROS/lcmap-client-docs.git
	branch = master
[submodule "lcmap-client-py"]
	path = .archive/lcmap-client-py
	url = https://github.com/USGS-EROS/lcmap-client-py.git
	branch = master
[submodule "lcmap-commons"]
	path = .archive/lcmap-commons
	url = https://github.com/USGS-EROS/lcmap-commons.git
	branch = master
[submodule "lcmap-config"]
	path = .archive/lcmap-config
	url = https://github.com/USGS-EROS/lcmap-config.git
	branch = master
[submodule "lcmap-data"]
	path = .archive/lcmap-data
	url = https://github.com/USGS-EROS/lcmap-data.git
	branch = master
[submodule "lcmap-dockerfiles"]
	path = .archive/lcmap-dockerfiles
	url = https://github.com/USGS-EROS/lcmap-dockerfiles.git
	branch = master
[submodule "lcmap-gaia"]
	path = .archive/lcmap-gaia
	url = https://github.com/USGS-EROS/lcmap-gaia.git
	branch = master
[submodule "lcmap-giraffe"]
	path = .archive/lcmap-giraffe
	url = https://github.com/USGS-EROS/lcmap-giraffe.git
	branch = develop
[submodule "lcmap-ingest-py"]
	path = .archive/lcmap-ingest-py
	url = https://github.com/USGS-EROS/lcmap-ingest-py.git
	branch = master
[submodule "lcmap-landsat"]
	path = .archive/lcmap-landsat
	url = https://github.com/USGS-EROS/lcmap-landsat.git
	branch = master
[submodule "lcmap-logger"]
	path = .archive/lcmap-logger
	url = https://github.com/USGS-EROS/lcmap-logger.git
	branch = master
[submodule "lcmap-mastodon"]
	path = .archive/lcmap-mastodon
	url = https://github.com/USGS-EROS/lcmap-mastodon.git
	branch = master
[submodule "lcmap-merlin"]
	path = .archive/lcmap-merlin
	url = https://github.com/USGS-EROS/lcmap-merlin.git
	branch = master
[submodule "lcmap-model-wrapper"]
	path = .archive/lcmap-model-wrapper
	url = https://github.com/USGS-EROS/lcmap-model-wrapper.git
	branch = master
[submodule "lcmap-nautilus"]
	path = .archive/lcmap-nautilus
	url = https://github.com/USGS-EROS/lcmap-nautilus.git
	branch = master
[submodule "lcmap-nemo"]
	path = .archive/lcmap-nemo
	url = https://github.com/USGS-EROS/lcmap-nemo.git
	branch = master
[submodule "lcmap-oxen"]
	path = .archive/lcmap-oxen
	url = https://github.com/USGS-EROS/lcmap-oxen.git
	branch = master
[submodule "lcmap-pyccd"]
	path = .archive/lcmap-pyccd
	url = https://github.com/USGS-EROS/lcmap-pyccd.git
	branch = master
[submodule "lcmap-pyccd-worker"]
	path = .archive/lcmap-pyccd-worker
	url = https://github.com/USGS-EROS/lcmap-pyccd-worker.git
	branch = master
[submodule "lcmap-pyclass"]
	path = .archive/lcmap-pyclass
	url = https://github.com/USGS-EROS/lcmap-pyclass.git
	branch = master
[submodule "lcmap-rest"]
	path = .archive/lcmap-rest
	url = https://github.com/USGS-EROS/lcmap-rest.git
	branch = master
[submodule "lcmap-see"]
	path = .archive/lcmap-see
	url = https://github.com/USGS-EROS/lcmap-see.git
	branch = master
[submodule "lcmap-services"]
	path = .archive/lcmap-services
	url = https://github.com/USGS-EROS/lcmap-services.git
	branch = master
[submodule "lcmap-spark"]
	path = .archive/lcmap-spark
	url = https://github.com/USGS-EROS/lcmap-spark.git
	branch = master
[submodule "lcmap-system"]
	path = .archive/lcmap-system
	url = https://github.com/USGS-EROS/lcmap-system.git
	branch = master
[submodule "lcmap-tap"]
	path = .archive/lcmap-tap
	url = https://github.com/USGS-EROS/lcmap-tap.git
	branch = master
[submodule "lcmap-test-data"]
	path = .archive/lcmap-test-data
	url = https://github.com/USGS-EROS/lcmap-test-data.git
	branch = master
[submodule "lcmap-test-notebooks"]
	path = .archive/lcmap-test-notebooks
	url = https://github.com/USGS-EROS/lcmap-test-notebooks.git
	branch = master
[submodule "lcmap-tools"]
	path = .archive/lcmap-tools
	url = https://github.com/USGS-EROS/lcmap-tools.git
	branch = master
[submodule "matlab-ccdc"]
	path = .archive/matlab-ccdc
	url = https://github.com/lelegan/matlab-ccdc.git
	branch = master
[submodule "ring-problem"]
	path = .archive/ring-problem
	url = https://github.com/USGS-EROS/ring-problem.git
	branch = master
[submodule "weld"]
	path = .archive/weld
	url = https://github.com/USGS-EROS/WELD-tiling-reference.git
	branch = master
